body {  
  background-image: url(/home/blue/Downloads/Wallpaper/wall2.jpg);
  background-size: cover;
}
.container {
  font-family: arial;
  font-size: 24px;
  width: 800px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid gray 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  margin-bottom: 11em;
  filter: blur;
  box-shadow: 2px 2px 9px white ;
  background: transparent;
  overflow: hidden;
  background-image: url(/home/blue/Downloads/Wallpaper/wall.jpg);
  
}

.header-1 {
  font-size: 20px;
  color: white;
  border-left: 2px solid yellow;
  padding-left: 5px;
  
}
.bar-container {
  padding: 5px;
  padding-top: 25px;
  padding-block: 20px ; 
  border-left: 5px solid white;
  

}
.bar-buttoms {
  text-decoration: none;
  color: white;
  padding: 20px;
  
}
.bar-buttoms:hover {
  background-color: white;
  color: black;
  border: 0.5 solid black;
}
.sounds-1 {
  border-right: 2px solid yellow;
  padding-right: 5px
}
.